<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='style.css') }}">
    <title>Pinkie PIE Unleashed</title>
  </head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}">
    </script>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
