{% extends "base.html" %}
{% block content %}

<style>
  body {
    margin-top: 20px;
  }
  .wsm {
    text-align: center;
  }
  .row-custom {
    width: 860px;
    margin: auto;
  }
</style>

<div class="row-custom">
  <div class="span10 alert alert-block alert-warning"
    style="text-align: center">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn btn-large btn-inverse" href="wake_vj"
          onclick="if(!confirm('Boot Villejuif?'))return false;">
          Villejuif
        </a>
        {% for sm in sms %}
        <a class="btn btn-large btn-warning" id="{{ sm }}"
            onclick="displayRoom({{ sm }});">
          {{ sm }}
        </a>
        {% endfor %}</div>
    </div>
  </div>
</div>
<div class="row-custom">
  <div class="span10 alert alert-block alert-success" id="map">
  </div>
</div>

<script>
$(document).ready(function() {
  rooms = {};
  {% for sm, machines in machines %}
    rooms['{{ sm }}'] = [ {% for machine in machines %} "{{ machine }}",
    {% endfor %} ];
  {% endfor %}

  displayRoom(302);
});

function displayRoom(room)
{
  for (k in rooms)
  {
    if (k == room)
    {
      $("#" + room).addClass("active");
    }
    else
    {
      $("#" + k).removeClass("active");
    }
  }

  var r = [];
  var h = '<div class="wsm"><a class="btn btn-large btn-warning" href="wake_sm/' + room +
      '">Wake ' + room + '</a></div>';

  for (var m = 0; m < rooms[room].length; m++)
  {
    var mach = rooms[room][m];
    var rang = parseInt(mach.substring(1, 3));

    if (!r[rang])
      r[rang] = '<div class="btn-group">' +
        '<a class="btn btn-info" href="wake_rangee/' + room + '/' +
          rang + '">r0' + rang + '</a>';

    r[rang] += '<a class="btn btn-success" href="wake_machine/' +
      room + '/' + mach + '">' + mach + '</a>';
  }

  for (var i = 1; i < r.length; i++)
    h += "</div><p>&nbsp;</p>" + r[i];

  $("#map").html(h);
}
</script>

{% endblock %}
