{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span11 alert alert-block alert-error"
    style="text-align: center">
    <h1>VJ boot</h1>
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn btn-large btn-danger" href="wake_vj">
          Villejuif
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span11 alert alert-block alert-warning"
    style="text-align: center;">
    <h1>SM boot</h1>
    <div class="btn-toolbar">
      <div class="btn-group">
        {% for sm in sms %}
        <a class="btn btn-large btn-warning" href="wake_sm/{{ sm }}">
          {{ sm }}
        </a>
        {% endfor %}</div>
    </div>
  </div>
</div>
<div class="row">
  <div style="text-align: center"
    class="span11 alert alert-block alert-success">
    <h1>Machine boot</h1>
    {% for sm, machines in machines %}
    <div class="span2">
      <h2>{{ sm }}</h2>
      <div class="btn-group btn-group-vertical">
        {% for machine in machines %}
        <a href="wake_machine/{{ sm }}/{{ machine }}"
          class="btn btn-success">{{ machine }}</a>
        {% endfor%}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
